.row
  .col-xs-8
    %section
      %h3 アップしたコース
      
      - @courses.each do |course|
        %article
          %h3= link_to course.title, course

  .col-xs-4
    %section
      %h3
        人気のコース

      %ul
        - @popular_courses.each do |course|
          %li
            = link_to course.title, course
