%section.new-courses
  %h2 新着コース
  - @new_courses.each do |course|
    %article
      %h3
        %span.name= link_to course.title, course
        .stars-count
          %i.fa.fa-star
          %span.count-num= course.stars.count
